$blue: #2405f2;
$black: #282938;
$white: white;
$yellow: #fcd980;
$darkblue: #1c1e53;
$ivory: #eef4fa;
$bgc: #e5e5e5;

#backtop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border-radius: 12px;
  border: 4px solid $ivory;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  transition: 0.6s;
  background-color: $darkblue;
}

#backtop a {
  font-weight: 700;
  font-size: 24px;
  color: $ivory;
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 30px 0;
  background-color: $darkblue;
}

.navcontainer {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.uil-bars {
  cursor: pointer;
  color: $white;
  font-size: 35px;
}

#navbar-responsive {
  display: block;
  position: fixed;
  top: -100%;
  left: 0;
  bottom: 0;
  height: 370px;
  width: 100%;
  text-align: center;
  background-color: $darkblue;
}

.uil-multiply {
  cursor: pointer;
  padding: 25px 30px;
  color: $white;
  font-size: 35px;
  position: absolute;
  right: 0px;
}

.hamcontent {
  padding: 25px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  a {
    margin: 10px;
    color: #bbbbcb;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
  }
}

nav a:hover {
  color: $white;
}

.btn2 {
  color: #bbbbcb;
  background-color: transparent;
  border: 1px solid #bbbbcb;
  a {
    color: #bbbbcb;
  }
}

.btn2:hover {
  background-color: transparent;
  border-color: $white;
  a {
    color: $white;
  }
}

.navlinks {
  display: none;
  a {
    margin: auto 12px;
    color: #bbbbcb;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
  }
}

.navbarshrink {
  padding: 10px 0px;
  box-shadow: 1px 5px 15px $darkblue;
}

@media (min-width: 790px) {
  .navbutton {
    display: block;
  }
  .hamburger {
    display: none;
  }
  #navbar-responsive {
    display: none;
  }
  .navlinks {
    display: flex;
  }
}

@media (min-width: 840px) {
  .navlinks {
    gap: 10px;
  }
}

@media (min-width: 950px) {
  .navlinks {
    gap: 40px;
  }
}
