.btn {
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  padding: 16px 48px;
  background: #fcd980;
  color: #1B1C2A;
  border-radius: 40px;
  a{
    color: #1B1C2A;
  }
}

.btn:hover{
  background: #FDE4A6;
}


.btn2 {
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  padding: 16px 48px;
  background: #fcd980;
  color: #ffffff;
  border-radius: 40px;
  a{
    color: #ffffff;
  }
}

.btn2:hover{
  background: #535460;
}

