* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #E5E5E5;
}

.container {
  max-width: 1280px;
  height: 1515px;
  margin: 0 auto;
  padding: 0 20px;
  position: absolute;
  z-index: 999;
}
.container .navbar {
  width: 1280px;
  height: 80px;
  padding: 0 100px;
  background: #0D0D0D;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
.container .navbar .line {
  border: 1px solid #706f6f;
  height: 70px;
  width: 2px;
}
.container .navbar img {
  padding: 0 40px 0 0;
}
.container .nav__list {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.container .nav__list li,
.container .nav__list a {
  margin-left: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.9;
}
.container .nav__list .btn {
  margin-left: 300px;
  padding: 15px 30px;
  border-radius: 10px;
  background: #FFD2A4;
  cursor: pointer;
}
.container .nav__list .btn:hover {
  background-color: #fab167;
}
.container .card__img {
  flex-wrap: wrap;
}
.container .card__img img {
  max-width: 100%;
  max-width: 1280px;
  position: relative;
}
.container .card__img .banner {
  position: absolute;
  margin-top: -250px;
  padding: 0 0 0 100px;
}
.container .card__img .banner p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFD2A4;
}
.container .card__img .banner h2 {
  position: absolute;
  width: 450px;
  height: 128px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
}
.container .public {
  flex-wrap: wrap;
}
.container .public .adres__list {
  position: absolute;
  padding: 0 0 0 100px;
  margin-top: 628px;
}
.container .public .adres__list p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #1E1B1B;
}
.container .public .adres__list .form {
  max-width: 570px;
}
.container .public .adres__list .form input {
  width: 570px;
  height: 64px;
  margin-top: 12px;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 0 20px;
  border: none;
}
.container .public .adres__list .form textarea {
  width: 570px;
  border: none;
  padding: 25px;
  font-family: sans-serif;
  border-radius: 10px;
  margin-top: 10px;
}
.container .public .adres__list .form .btn {
  padding: 24px 240px;
  border-radius: 10px;
  border: none;
  background: #FFD2A4;
}
.container .public .adres__list .form .btn:hover {
  background-color: #fab167;
}
.container .list__email {
  position: absolute;
  margin-left: 862px;
  margin-top: 761px;
}
.container .list__email p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1E1B1B;
  opacity: 0.7;
}
.container .list__email .p {
  padding: 32px 0 8px 0;
}
.container .list__email h4 {
  width: 290px;
  height: 56px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.container .icons i {
  font-size: 30px;
  margin-left: 20px;
}
.container .footer {
  position: relative;
  width: 1280px;
  min-height: 312px;
  background: #161722;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  flex-wrap: wrap;
  margin-top: 1300px;
  z-index: 999;
}
.container .footer .logo p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 30px 0;
}
.container .footer .logo h5 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px 0;
}
.container .footer .leatest p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #FFFFFF;
  margin-top: 10px;
}
.container .footer .connect p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 30px 0;
  text-align: center;
}
.container .footer .connect i {
  font-size: 25px;
  margin-left: 10px;
  color: #FFFFFF;
}
.container .footer .and__list h3 {
  width: 500px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.container .footer .and__list input {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  padding: 0 20px;
}
.container .footer .and__list .btn {
  padding: 15px 30px;
  background-color: #fab167;
  cursor: pointer;
}
.container .footer .and__list .btn:hover {
  background-color: #f78a1d;
}